@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,900|Permanent+Marker|Playfair+Display:400,400i,700,700i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,700,700i,800|Open+Sans:400|Source+Sans+Pro:wght@200;300;400;600;700;900|Roboto:400,400i,500,500i,700,700i,900|Reenie+Beanie");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: #efefef;
  font-family: "Inter var", sans-serif;
  cursor: url("/cursor.svg"), auto;
}

h1 {
  font-size: 20em;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
}

a {
  pointer-events: all;
  text-decoration: none;
}
