.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroCanvas {
  background-color: white;
  margin-top: 10rem;
}

.logoContainer {
  width: 100%;
  height: 450;
}

.logo {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .heroCanvas {
    margin-top: 0rem;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .logoContainer {
    width: 100%;
    height: 450;
    background-color: red;
  }
}
