.teamContainer {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
}

.teamSectionTitle {
  font-size: 15em;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
}

.teamMembers {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.memberContainer {
  padding: 10px;
}

.memberImg {
  width: 25rem;
  height: 25rem;
}

.member {
  border-radius: inherit;
  padding: 30px;
  background-blend-mode: multiply;
  background-size: cover;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  background-color: #f8a440;
}

.member:hover {
  background-color: #0038e3;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 1rem;
  margin-top: -1.5rem;
  right: 0;
  left: 0;
  transform: translateY(-5px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style-type: none;
}

.socialIcon {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #222;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
  background: #fff;
  margin: 7px;
}

.titleContainer {
  text-align: center;
}

.nameTitle {
  font-size: 1.25rem;
  line-height: 1.388;
  margin-bottom: 6px;
}

.designationTitle {
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.58;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .teamMembers {
    flex-direction: column;
  }

  .teamSectionTitle {
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
  }

  .memberImg {
    width: 100%;
    object-fit: cover;
  }
}
